# Android
.gradle/
build/
local.properties
*.apk
*.ap_
*.dex
*.class
bin/
gen/
out/

# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
env/
.pytest_cache/
backend/temp/
backend/saved_models/

# IDE
.idea/
*.iml
.vscode/

# System
Thumbs.db
.DS_Store
